<h3 class="tickets_heading">
  Bug Tickets
  <div class="pull-right">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_bug">Create New Bug</button>
  </div>
</h3>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-inverse">
      <li class="{% if status == 'New' %} active {% endif %}"><a href="/">New</a></li>
      <li class="{% if status == 'Open' %} active {% endif %}"><a href="?status=Open">Open</a></li>
      <li class="{% if status == 'InProgress' %} active {% endif %}"><a href="?status=InProgress">In Progress</a></li>
      <li class="{% if status == 'Testing' %} active {% endif %}"><a href="?status=Testing">Testing</a></li>
      <li class="{% if status == 'Closed' %} active {% endif %}"><a href="?status=Closed">Closed</a></li>
    </ul>
  </div>
</nav>
<div class="modal fade" id="create_bug" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Bug</h4>
      </div>
        <form class="form-horizontal" method="post" role="form">
          <div class="modal-body">
            <div class="form-group">
               <label class="control-label col-sm-2" for="title">Title:</label>
               <div class="col-sm-10">
                  <input type="title" class="form-control" id="title" placeholder="Enter title" name="title" required>
               </div>
            </div>
            <div class="form-group">
               <label class="control-label col-sm-2" for="titledescription">Title Description:</label>
               <div class="col-sm-10">
                  <textarea type="titledescription" class="form-control" id="titledescription" placeholder="Enter title Description" name="titledescription" required></textarea>
               </div>
            </div>
            <div class="form-group">
               <label class="control-label col-sm-2" for="severity">Severity:</label>
               <div class="col-sm-10">
                  <select class="form-control" id="severity" name="severity">
                     {% for severity in all_severities %}
                      <option>{{severity}}</option>
                      {% endfor %}
                  </select>
               </div>
            </div>
            <div class="form-group">
               <label class="control-label col-sm-2" for="priority">Title Description:</label>
               <div class="col-sm-10">
                  <select class="form-control" id="priority" name="priority">
                     {% for priority in all_priorities %}
                      <option>{{priority}}</option>
                      {% endfor %}
                  </select>
               </div>
            </div>
            <div class="form-group">
               <label class="control-label col-sm-2" for="assignee">Assignee:</label>
               <div class="col-sm-10">
                  <select class="form-control" id="assignee" name="assignee">
                     {% for user in users %}
                      <option value = {{user[3]}} > {{user[0]}} </option>
                     {% endfor %}
                  </select>
               </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-group">
               <div class="col-sm-offset-2 col-sm-10">
                  <button onclick="/Users" type="submit" class="btn btn-success">Submit</button>
               </div>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>

<style>
    .tickets_heading {
        background-color: #f1f1f1;
        padding: 15px;
    }
</style>