<form class="form-horizontal" method="post" role="form">
  <div class="modal-body">
    <div class="form-group">
       <label class="control-label col-sm-2" for="title">Title:</label>
       <div class="col-sm-10">
          <input type="title" class="form-control" id="title" placeholder="Enter title" name="title" value = "{{item[1]}}" required />
       </div>
    </div>
    <div class="form-group">
       <label class="control-label col-sm-2" for="titledescription">Title Description:</label>
       <div class="col-sm-10">
          <textarea type="titledescription" class="form-control" id="titledescription" placeholder="Enter title Description" name="titledescription" required>{{item[2]}}</textarea>
       </div>
    </div>
    <div class="form-group">
       <label class="control-label col-sm-2" for="severity">Severity:</label>
       <div class="col-sm-10">
          <select class="form-control" id="severity" name="severity" value = {{item[1]}}>
             {% for severity in all_severities %}
                <option>{{severity}}</option>
              {% endfor %}
          </select>
       </div>
    </div>
    <div class="form-group">
       <label class="control-label col-sm-2" for="priority" value = {{item[1]}}>Priority:</label>
       <div class="col-sm-10">
          <select class="form-control" id="priority" name="priority">
                     {% for priority in all_priorities %}
                      <option>{{priority}}</option>
                      {% endfor %}
          </select>
       </div>
    </div>
    <div class="form-group">
       <label class="control-label col-sm-2" for="assignee">Assignee:</label>
       <div class="col-sm-10">
          <select class="form-control" id="assignee" name="assignee">
             {% for user in users %}
              <option value = {{user[3]}} > {{user[0]}} </option>
             {% endfor %}
          </select>
       </div>
    </div>
    <div class="form-group">
       <label class="control-label col-sm-2" for="status" value = {{item[1]}}>Priority:</label>
       <div class="col-sm-10">
          <select class="form-control" id="status" name="status">
                     {% for status in all_bug_status %}
                      <option>{{status}}</option>
                      {% endfor %}
          </select>
       </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-group">
        <form action="/" method="POST">
            <input type="hidden" name="ticket_number_to_update" value={{items[0][0]}} />
            <input type="submit" value="Update Bug" class="btn btn-success" id="btnupdate" type="button">
        </form>
    </div>
  </div>
</form>
