<div class="main-menu">
    <nav class="navbar navbar-default">
        <div class="navbar-header float-none brand-logo">
          <a class="navbar-brand label-design" href="/">Bug Tracker</a>
        </div>
        <ul class="nav nav-pills nav-stacked" role="tablist">
          <li class="{% if page == 'home' %} active {% endif %}"><a href="/">Home</a></li>
          <li class="{% if page == 'users' %} active {% endif %}"><a href="/Users">User</a></li>
        </ul>
    </nav>
</div>

<style>
    .float-none {
        float: none;
    }
    .main-menu {
        margin-top: 25px;
    }
    .brand-logo {
        background-color: #d2d2d2;
        padding: 20px 15px;
    }
    .label-design {
        font-size: 32px;
        color: black !important;
    }
</style>