<!DOCTYPE html>
<html lang="en">
  {% include 'header.html' %}
  <body class="bg-default">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
            {% include 'shared/main_menu.html' %}
        </div>
        <div class="col-lg-9">
          {% include 'shared/bugs_menu.html' %}
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" name="message">
                        <p>{{ message[1] }}</p>
                    </div>

                {% endfor %}
            {% endif %}
          {% endwith %}
          {% for item in items %}
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href=#{{item[0]}}>
                      <div>
                        <span data-attr="title">
                          #{{item[0]}} &nbsp; {{item[1]}}
                        </span>
                        <span class="pull-right">
                          {% if item[7] %}
                            <label class="label label-info">Assigned To: {{item[7]}}</label>
                          {% endif %}
                          <label class="label label-info">Severity: {{item[5]}}</label>
                          <label class="label label-info">Priority: {{item[6]}}</label>
                          <label class="label label-primary">{{item[3]}}</label>
                        </span>
                      </div>
                    </a>
                  </h4>
                </div>
                <div id={{item[0]}} class="panel-collapse collapse">
                  <div class="panel-body">{{item[2]}}</div>
                  <div class="panel-footer">
                      <div class="disp-inline">
                        <form action="/" method="POST">
                          <input type="hidden" name="ticket_number_to_delete" value={{item[0]}} />
                          <input type="submit" value="Close Bug" class="btn btn-danger" id="btndelete" type="button">
                        </form>
                      </div>
                    <td>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=#edit{{item[0]}}>Edit Bug</button>
                      <div class="modal fade" id=edit{{item[0]}} role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Bug Details</h4>
                            </div>
                            <div class="modal-body">

                             {% include 'shared/edit_bugs.html' %}

                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
<style>
    .disp-inline{
        display: inline-block;
    }
    .bg-default{
      background-color: #f1f1f1;
    }
</style>
</html>

