<h3 class="tickets_heading">
  System Users
  <div class="pull-right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_user">Create New User</button>
  </div>
</h3>
<div class="modal fade" id="create_user" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create User</h4>
      </div>
        <form class="form-horizontal" method="post" role="form">
          <div class="modal-body">
            <div class="form-group">
               <label class="control-label col-sm-2" for="userid">Username:</label>
               <div class="col-sm-10">
                  <input type="userid" class="form-control" id="userid" placeholder="Enter Username" name="userid" required>
               </div>
            </div>
            <div class="form-group">
               <label class="control-label col-sm-2" for="firstname">First Name:</label>
               <div class="col-sm-10">
                  <input type="firstname" class="form-control" id="firstname" placeholder="Enter First Name" name="firstname" required>
               </div>
            </div>
             <div class="form-group">
               <label class="control-label col-sm-2" for="lastname">Last Name:</label>
               <div class="col-sm-10">
                  <input type="lastname" class="form-control" id="lastname" placeholder="Enter Last Name" name="lastname" required>
               </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-group">
               <div class="col-sm-offset-2 col-sm-10">
                  <button onclick="/Users" type="submit" class="btn btn-success">Submit</button>
               </div>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>

<style>
    .tickets_heading {
        background-color: #f1f1f1;
        padding: 15px;
    }
</style>