<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
            {% include 'shared/main_menu.html' %}
        </div>
        <div class="col-lg-9">
          {% include 'users_menu.html' %}
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" name="message">
                        <p>{{ message[1] }}</p>
                    </div>

                {% endfor %}
            {% endif %}
          {% endwith %}
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead class="table-header-custom">
                <tr class="table-row-custom">
                  <th class="vertical-align-center">Username</th>
                  <th class="vertical-align-center">First Name</th>
                  <th class="vertical-align-center">Last Name</th>
                  <th class="vertical-align-center"></th>
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                  <tr>
                    <td class="vertical-align-center">{{item[0]}}</td>
                    <td class="vertical-align-center">{{item[1]}}</td>
                    <td class="vertical-align-center">{{item[2]}}</td>
                    <td class="vertical-align-center">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit_{{item[0]}}">Edit User</button>
                      <div class="modal fade" id="edit_{{item[0]}}" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">User details</h4>
                            </div>
                            <div class="modal-body">
                              <form class="form-horizontal" method="post" role="form">
                                  <div class="modal-body">
                                    <div class="form-group">
                                       <label class="control-label col-sm-2" for="userid">Username:</label>
                                       <div class="col-sm-10">
                                          <input type="userid" class="form-control" id="userid" placeholder="Enter Username" name="userid" value="{{item[0]}}" required>
                                       </div>
                                    </div>
                                    <div class="form-group">
                                       <label class="control-label col-sm-2" for="firstname">First Name:</label>
                                       <div class="col-sm-10">
                                          <input type="firstname" class="form-control" id="firstname" placeholder="Enter First Name" name="firstname" value="{{item[1]}}" required>
                                       </div>
                                    </div>
                                     <div class="form-group">
                                       <label class="control-label col-sm-2" for="lastname">Last Name:</label>
                                       <div class="col-sm-10">
                                          <input type="lastname" class="form-control" id="lastname" placeholder="Enter Last Name" name="lastname" value="{{item[2]}}" required>
                                       </div>
                                    </div>
                                  </div>
                                        <form action="/" method="POST">
                                            <input type="hidden" name="user_to_update" value="{{item[3]}}" />
                                            <input type="submit" value="Update User" class="btn btn-success" id="btnupdate" type="button">
                                        </form>
                                <p></p>
                                       <form action="/" method="POST">
                                            <input type="hidden" name="user_to_delete" value="{{item[3]}}" />
                                            <input type="submit" value="Delete User" class="btn btn-danger" id="btndelete" type="button">
                                        </form>
                              </form>


                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <style>
    .table-header-custom{
      background-color: black;
      color: white;
    }

    .table-row-custom {
      height: 50px;
    }

    .vertical-align-center {
      vertical-align: inherit !important;
    }
  </style>
  </body>
</html>